@page
@model Database01.Pages.CreateItemModel

@{
    ViewData["Title"] = "Nově nalezená vydra";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Nově nalezená vydra</h1>
<p></p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Otter.FounderId" class="control-label">Nálezce</label>
                <input asp-for="Otter.FounderId" class="form-control" asp-items="ViewBag.FounderId" />
            </div>
            <div class="form-group">
                <label asp-for="Otter.Name" class="control-label">Jméno vydry</label>
                <input asp-for="Otter.Name" class="form-control" />
                <span asp-validation-for="Otter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otter.Color" class="control-label">Barva vydry</label>
                <input asp-for="Otter.Color" class="form-control" />
                <span asp-validation-for="Otter.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otter.MotherId" class="control-label">Matka vydry</label>
                <select asp-for="Otter.MotherId" class ="form-control" asp-items="ViewBag.MotherId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Otter.PlaceName" class="control-label">Místo nalezení</label>
                <input asp-for="Otter.PlaceName" class="form-control" asp-items="ViewBag.PlaceName" />
            </div>
            <div class="form-group">
                <label asp-for="Otter.LocationId" class="control-label">Lokace místa</label>
                <input asp-for="Otter.LocationId" class ="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Přidat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zpět na výpis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
