@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul>
        @foreach (var c in Model.Otters)
        {
        <li>@c.Name</li>
        }
    </ul>
</div>