@page
@model Database01.Pages.DeletePlaceModel

@{
    ViewData["Title"] = "Smazání místa";
}
<h3>Opravdu chcete smazat toto místo?</h3>
<div>
    <hr />
    <div class="row">
        <dl class="col-sm-2 odsaz">
            <dt>Jméno</dt>
            <dt>Lokace</dt>
            <dt>ID Lokace</dt>
        </dl>
        <dl class="col-sm-10">
            <dd>@Model.place.Name</dd>
            <dd>@Model.place.Location.Name</dd>
            <dd>@Model.place.LocationId</dd>
        </dl>
    </div>

    <form method="post">
        <input type="hidden" asp-for="place.LocationId" />
        <input type="hidden" asp-for="place.Name" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-page="./PlacesIndex">Zpět na výpis</a>
    </form>
</div>