@page
@model Database01.Pages.EditPlaceModel

@{
    ViewData["Title"] = "Úprava místa";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="place.Name" value="@Model.place.Name" />
            <input type="hidden" asp-for="place.LocationId" value="@Model.place.LocationId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Edit.Name" class="control-label">Jméno místa</label>
                <input asp-for="Edit.Name" value="@Model.place.Name" class="form-control" />
                <span asp-validation-for="Edit.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edit.LocationId" class="control-label">Název lokace</label>
                <select asp-for="Edit.LocationId" class="form-control" asp-items="Model.Locations"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../PlacesIndex">Zpět na výpis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}