@page
@model Database01.Pages.CreateItemModel

@{
    ViewData["Title"] = "Nově nalezená vydra";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Nově nalezená vydra</h1>
<p></p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Otter.Name" class="control-label">Jméno</label>
                <input asp-for="Otter.Name" class="form-control" />
                <span asp-validation-for="Otter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otter.Color" class="control-label">Barva</label>
                <input asp-for="Otter.Color" class="form-control" />
                <span asp-validation-for="Otter.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otter.MotherId" class="control-label">Matka</label>
                <select asp-for="Otter.MotherId" class="form-control" asp-items="Model.Mothers"></select>
                <span asp-validation-for="Otter.MotherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Otter.PlaceName" class="control-label">Místo nálezu</label>
                <select asp-for="Otter.PlaceName" class="form-control" asp-items="Model.PlaceNames"></select>
                <span asp-validation-for="Otter.PlaceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Přidat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Zpět na výpis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
