@page
@model Database01.Pages.Logged.DeniedModel
@{
    ViewData["Title"] = "Přístup odepřen";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Na toto nemáte oprávnění.</p>
</header>
<div>
    <a asp-page="../Index">Zpět na výpis</a>
</div>
