@page
@model Database01.Pages.EditItemModel

@{
    ViewData["Title"] = "Úprava";
}

<h1>Úprava vydry</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="otter.Name" class="control-label">Jméno</label>
                <input asp-for="otter.Name" class="form-control" />
                <span asp-validation-for="otter.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otter.Color" class="control-label">Barva</label>
                <input asp-for="otter.Color" class="form-control" />
                <span asp-validation-for="otter.Color" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="otter.TattooID" />
            <div class="form-group">
                <label asp-for="otter.MotherId" class="control-label">Matka</label>
                <select asp-for="otter.MotherId" class="form-control" asp-items="Model.Mothers"></select>
                <span asp-validation-for="otter.MotherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="otter.PlaceName" class="control-label">Místo</label>
                <select asp-for="otter.PlaceName" class="form-control" asp-items="Model.PlaceNames"></select>
                <span asp-validation-for="otter.PlaceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Zpět na výpis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}